// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.square {
  border: 1px;
  background-color: #007bff;
  color: white;
  padding: 6px 10px;
}
